<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NG Launchpad</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/ngLaunchPad.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/genero.css">
  </head>
  <body ng-app='myApp'>
    <h1>NG Launchpad</h1>
    <div ng-controller='AngularIntro as ai'>
      <input type='number' ng-model='ai.userInput'/>
      <button ng-click="ai.testClick()">Test Click</button>
      <p>
        {{ ai.output }}
      </p>
      <h2 ng-show='ai.showFront' ng-click='ai.toggleShow()'>Front</h2>
      <h2 ng-hide='ai.showFront' ng-click='ai.toggleShow()'>Back</h2>
    </div>
  </body>
</html>
