<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NG Launchpad</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/ngLaunchPad.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles/genero.css">
  </head>
  <body ng-app='myApp'>
    <h1>NG Launchpad</h1>
    <div ng-controller='AngularIntro as ai'>
      <input type='number' ng-model='ai.yearIn' placeholder="year"/>
      <input type='text' ng-model='ai.makeIn' placeholder="make"/>
      <input type='text' ng-model='ai.modelIn' placeholder="model"/>
      <input type='number' ng-model='ai.costIn' placeholder="cost"/>
      <button ng-click="ai.addCar()">Add Car</button>
      <p ng-repeat='car in ai.cars'>
        {{ car.year }} {{ car.make }} {{ car.model }} ${{ car.cost }} <button ng-click='ai.removeCar($index)'>Remove</button>
      </p>
      <h2 ng-show='ai.showFront' ng-click='ai.toggleShow()'>Front</h2>
      <h2 ng-hide='ai.showFront' ng-click='ai.toggleShow()'>Back</h2>
    </div>
  </body>
</html>
